<!-- @author Harish, https://github.com/Harish046, UserDetails.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Details</title>
<style>
body {
	background-color: #262626;
}

h1, table, div, nav {
	font-family: sans-serif;
	color: #ffffff;
}

a {
	color: #cc0000;
}
</style>
</head>
<body>
	<nav>
		<a th:href="@{/}">Home</a>&nbsp;/&nbsp;<a th:href="@{/thl/users}">User
			info</a>&nbsp;/&nbsp;<a>User details</a>
	</nav>

	<h1 align="center">T&nbsp;&nbsp;h&nbsp;&nbsp;y&nbsp;&nbsp;m&nbsp;&nbsp;e&nbsp;&nbsp;l&nbsp;&nbsp;e&nbsp;&nbsp;a&nbsp;&nbsp;f</h1>
	<br />
	<table align="center">
		<tr>
			<td><label>Name:</label></td>
			<td th:text="${user.name}"></td>
		</tr>
		<tr>
			<td><label>Age:</label></td>
			<td th:text="${user.age}"></td>
		</tr>
		<tr>
			<td><label>Email:</label></td>
			<td th:text="${user.email}"></td>
		</tr>
		<tr>
			<td><label>Mobile:</label></td>
			<td th:text="${user.mobile}"></td>
		</tr>
	</table>
	<div align="right">
		Go to jsp View <a th:href="@{/jsp/users}"> Go!</a>
	</div>
</body>
</html>